body {
  font-family: sans-serif;
  background-color: FFF8ED;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.loginContainer h1 {
  font-family: 'Fredoka One', cursive;
  color: rgb(228, 115, 134);
  text-align: center;
}

.petImg {
  margin: 10px;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*===== LOGIN =====*/

.viewContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#emailP,
#passwordP {
  margin-top: -18px;
  text-align: left;
}

.loginContainer h1 {
  font-family: 'Fredoka One', cursive;
  color: rgb(228, 115, 134);
  text-align: center;
}

.login {
  margin: 0;
  width: 100%;
  border-width: 1;
  /* padding: 15; */
  border-color: 'gray';
}

.loginContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  margin-bottom: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MuiInputBase-root {
  margin: 0 0 20px;
}

.loginButton {
  width: 90%;
  margin-bottom: 0;
}

.loginEgg {
  width: 125px;
  margin-bottom: 20px;
}

.googleLink {
  text-align: center;
  margin: 5px 0 20px;
  color: rgb(228, 115, 134);
}

.google {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google img {
  max-width: 100%;
  display: inline-block;
}

.googleButton {
  width: 72%;
}
.or {
  margin: 10px 0 10px;
  color: rgb(160, 159, 159);
}

.googleButton a {
  color: rgb(59, 59, 59);
}

.error {
  margin-top: -5px;
  color: rgb(206, 0, 0);
  font-size: 12px;
}

/*===== HOME PAGE =====*/

.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.animationContainer {
  width: 375px;
  height: 44vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  justify-content: flex-end;
}

.progressBar {
  margin-top: 20px;
}

.contentsContainer {
  background-image: url('/tamabuddyRoom.jpg');
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center top;
  background-attachment: fixed;
}

.animation {
  width: 370px;
  height: 250px;
  flex: 1;
  display: flex;
  justify-content: center;
}
.listView {
  height: 30vh;
  width: 40%;
  overflow: auto;
  overflow-x: hidden !important;
}
.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petImg {
  margin: 10px;
  max-width: 100%;
  max-height: 100%;
}

.appTitle {
  text-align: center;
  color: rgb(92, 111, 165);
}

.avatar-modals {
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: fit-content;
  width: 50%;
  text-align: center;
  background-color: rgba(255, 248, 237, 1);
}

.avatar-modals div {
  outline: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.avatar-modals p:focus {
  outline: none !important;
}

/*===== NAME EGG =====*/

.nameEgg {
  /* margin-top: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameEgg h2 {
  margin-top: 0;
  color: rgb(94, 94, 94);
}

.nameEggForm {
  margin-top: 20px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*===== USER SETTING =====*/
.editContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoPaper {
  width: 90%;
  margin-top: 20px;
  padding: 20px;
}

.itemContainer {
  margin: 5px 0;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.fieldName {
  width: 90px;
  margin-left: 15px;
}

.userInfo {
  margin: 0;
  width: 180px;
  text-align: left;
}

.itemContainer .error {
  position: absolute;
  left: 125px;
  top: 65px;
}

.userInfo h4 {
  margin: 10px 10px 10px 0;
}

.editIcon {
  width: 30px;
}

.settingTitle {
  color: #c58684;
  margin: 15px 0;
}

.editContainer h5 {
  color: gray;
  margin: 10px 0;
}

.editContainer hr {
  color: gray;
  margin-top: 5px;
}

.textBox {
  height: 40px;
}

.reminderContainer {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MuiInputBase-root {
  height: 40px;
  padding: 10px;
}

.MuiInputBase-input {
  padding: 10px;
}

/* media query for desktop */
@media only screen and (min-width: 1024px) {
  .find-egg-component {
    border-radius: 40px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background-image: url('/forestDesktop1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 5% 5% 5%;
    box-shadow: 5px 5px 5px lightgrey;
  }
  .explain-component {
    border-radius: 40px;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-image: url('/explainDesktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 5% 5% 5%;
    box-shadow: 5px 5px 5px rgb(205, 203, 203);
  }

  .explain-component p {
    width: 50%;
  }

  #tamabuddyButton {
    height: 135%;
  }
}

/* media query for tablet */
@media only screen and (max-width: 1024px) {
  .find-egg-component {
    border-radius: 40px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-image: url('/forestTablet.png');
    background-repeat: no-repeat;
    background-position: top;
    margin: 5% 5% 0;
    box-shadow: 5px 5px 5px lightgrey;
  }
  .explain-component {
    border-radius: 40px;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    background-image: url('/explainTablet.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 5% 5% 5%;
    box-shadow: 5px 5px 5px lightgrey;
  }
  #tamabuddyButton {
    height: 130%;
  }
}

/* media query for larger than phone but small than tablet */
@media only screen and (max-width: 600px) {
  .find-egg-component {
    border-radius: 40px;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background-image: url('/forest650.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 5% 5% 0;
    box-shadow: 5px 5px 5px lightgrey;
  }
  .explain-component {
    border-radius: 40px;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background-image: url('/explain650.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 5% 5% 5%;
    box-shadow: 5px 5px 5px lightgrey;
  }
  .explain-component p {
    width: 100%;
    font-size: medium;
  }
  #tamabuddyButton {
    height: 100%;
  }
}

/* media queary small screens like phones */
@media only screen and (max-width: 400px) {
  .find-egg-component {
    border-radius: 40px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background-image: url('/forestphone.png');
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 5% 5% 0;
    box-shadow: 5px 5px 5px lightgrey;
  }
  .explain-component {
    border-radius: 40px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-image: url('/explainPhone.png');
    background-position: top;
    background-repeat: no-repeat;
    margin: 5% 5% 5%;
    box-shadow: 5px 5px 5px lightgrey;
  }

  .explain-component p {
    font-size: small;
  }
  #tamabuddyButton {
    height: 100%;
  }
}

.typeWriter {
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
}

.explain-component p {
  background-color: rgba(200, 234, 239, 0.7);
  border-radius: 2px;
}

/*=====  =====*/

.tutorial-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.guide-text h3 {
  color: #4e7469;
  font-family: 'Fredoka One';
  font-weight: lighter;
  text-align: center;
}

.guide-text p {
  font-family: 'Fredoka One';
  font-weight: lighter;
  text-align: center;
}

.questionHeader {
  font-family: sans-serif;
  color: rgb(94, 93, 93);
  text-align: center;
  font-size: 1.5rem;
}
/*===== USER HISTORY =====*/
#historyavatar {
  text-align: center;
  margin-top: 5%;
  padding: 10px 10px;
}
.avatar {
  display: inline-flex;
  padding: 5px 5px;
  margin: 10px 10px;
  border: whitesmoke outset;
  height: 25px;
  width: 25px;
}
.explain-one {
  animation-name: pone;
  animation-duration: 6s;
}

@keyframes pone {
  0% {
    opacity: 0.01;
  }
  16% {
    opacity: 100;
  }
}

.explain-two {
  animation-name: ptwo;
  animation-duration: 6s;
}

@keyframes ptwo {
  0% {
    opacity: 0.01;
  }
  32% {
    opacity: 100;
  }
}

.explain-three {
  animation-name: pthree;
  animation-duration: 6s;
}

@keyframes pthree {
  0% {
    opacity: 0.01;
  }
  48% {
    opacity: 100;
  }
}

.explain-four {
  animation-name: pfour;
  animation-duration: 6s;
}

@keyframes pfour {
  0% {
    opacity: 0.01;
  }
  64% {
    opacity: 100;
  }
}

.explain-five {
  animation-name: pfive;
  animation-duration: 6s;
}

@keyframes pfive {
  0% {
    opacity: 0.01;
  }
  80% {
    opacity: 100;
  }
}

.explain-six {
  animation-name: psix;
  animation-duration: 6s;
}

@keyframes psix {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 100;
  }
}
