body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.loginContainer h1 {
  font-family: 'Fredoka One', cursive;
  color: rgb(228, 115, 134);
  text-align: center;
}

.petImg {
  margin: 10px;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*===== LOGIN =====*/

.viewContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#emailP,
#passwordP {
  margin-top: -20px;
}

.loginContainer h1 {
  font-family: 'Fredoka One', cursive;
  color: rgb(228, 115, 134);
  text-align: center;
}

.login {
  margin: 0;
  width: 100%;
  border-width: 1;
  /* padding: 15; */
  border-color: 'gray';
}

.loginContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  margin-bottom: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MuiInputBase-root {
  margin: 0 0 20px;
}

.loginButton {
  width: 90%;
  margin-bottom: 0;
}

.loginEgg {
  width: 125px;
  margin-bottom: 20px;
}

.googleLink {
  text-align: center;
  margin: 15px 0 20px;
  color: rgb(228, 115, 134);
}

.google {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google img {
  max-width: 100%;
  display: inline-block;
}

.googleButton {
  width: 72%;
}
.or {
  margin: 5px 0 10px;
  color: rgb(160, 159, 159);
}

.googleButton a {
  color: rgb(59, 59, 59);
}

/*===== HOME PAGE =====*/

.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.animationContainer {
  width: 375px;
  height: 44vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  justify-content: flex-end;
}

.progressBar {
  margin-top: 20px;
}

.contentsContainer {
  background-image: url('/tamabuddyRoom.jpg');
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center top;
  background-attachment: fixed;
}

.animation {
  width: 370px;
  height: 250px;
  flex: 1;
  display: flex;
  justify-content: center;
}
.listView {
  height: 30vh;
  overflow: auto;
  overflow-x: hidden !important;
}
.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petImg {
  margin: 10px;
  max-width: 100%;
  max-height: 100%;
}

.appTitle {
  text-align: center;
  color: rgb(92, 111, 165);
}

/*===== NAME EGG =====*/

.nameEgg {
  /* margin-top: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameEgg h2 {
  margin-top: 0;
  color: rgb(94, 94, 94);
}

.nameEggForm {
  margin-top: 20px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*===== USER SETTING =====*/
.editContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoPaper {
  width: 90%;
  margin-top: 20px;
  padding: 20px;
}

.itemContainer {
  margin: 5px 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.fieldName {
  width: 90px;
  margin-left: 15px;
  /* text-align: right;
  padding-right: 20px; */
}

.userInfo {
  width: 180px;
  text-align: left;
}

.userInfo h4 {
  margin-left: 10px;
}

.editIcon {
  width: 30px;
}

.settingTitle {
  color: #c58684;
  margin: 15px 0;
}

.editContainer h5 {
  color: gray;
  margin: 10px 0;
}

.editContainer hr {
  color: gray;
  margin-top: 5px;
}

.textBox {
  height: 40px;
}

.reminderContainer {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MuiInputBase-root {
  height: 40px;
  padding: 10px;
}

.MuiInputBase-input {
  padding: 10px;
}

.find-egg-component {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url('https://i.pinimg.com/originals/9c/bd/31/9cbd314122dc25c3e416cd12f8fba982.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  /* background-attachment: fixed; */
}

.typeWriter {
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
}

.explain-component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/016/756/697/large/john-paul-23a.jpg?1553354181');
  background-repeat: no-repeat;
  background-position: center top;
}

.explain-component p {
  background-color: rgba(200, 234, 239, 0.6);
}

/*=====  =====*/

.tutorial-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.guide-text h3 {
  color: #4e7469;
  font-family: 'Fredoka One';
  font-weight: lighter;
}

.questionHeader {
  font-family: sans-serif;
  color: rgb(94, 93, 93);
  text-align: center;
  font-size: 1.5rem;
}
