body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.loginContainer h1 {
  font-family: 'Fredoka One', cursive;
  color: rgb(228, 115, 134);
  text-align: center;
}

.petImg {
  margin: 10px;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.viewContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appTitle {
  text-align: center;
  color: rgb(92, 111, 165);
}

.loginContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  margin-bottom: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MuiInputBase-root {
  margin: 0 0 20px;
}

.login {
  margin: 0;
  width: 100%;
  border-width: 1;
  /* padding: 15; */
  border-color: 'gray';
}

.loginButton {
  width: 90%;
  margin-bottom: 0;
}

.loginEgg {
  width: 125px;
  margin-bottom: 20px;
}

.googleLink {
  text-align: center;
  margin: 15px 0 20px;
  color: rgb(228, 115, 134);
}

.google {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google img {
  max-width: 100%;
  display: inline-block;
}

.googleButton {
  width: 72%;
}
.or {
  margin: 5px 0 10px;
  color: rgb(160, 159, 159);
}

.googleButton a {
  color: rgb(59, 59, 59);
}

.nameEgg {
  /* margin-top: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameEgg h2 {
  margin-top: 0;
  color: rgb(94, 94, 94);
}

.nameEggForm {
  margin-top: 20px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
